#Loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 100;
    text-align: center;
    padding: 20vh;
    font-size: 2.5rem;
}